/photos/*
/frontend/node_modules/*
/node_modules
/assets/docs
/assets/static/build/*
/assets/facenet
/assets/nasnet
/assets/nsfw
/storage
/build
/photoprism
/photoprism-*
/coverage.*
/frontend/tests/acceptance/screenshots
/tmp/
.idea
.DS_Store
.env
*.db
*.db-journal
Dockerfile
docker-compose*
compose.yaml
compose.*.yaml
.dockerignore