assets/photos/*
assets/thumbnails/*
assets/testdata/import
assets/testdata/originals
assets/testdata/thumbnails
frontend/node_modules/*
assets/public/build/*
Dockerfile
photoprism
docker-compose*
.travis.yml