/assets/photos/*
/assets/cache/*
/assets/database/*
/internal/photoprism/testdata/*
/frontend/node_modules/*
/node_modules
/assets/server/public/build/*
/assets/testdata
/assets/backups
/assets/tensorflow/nasnet
Dockerfile
/photoprism
docker-compose*
/coverage.*
.dockerignore
.idea
.DS_Store
/frontend/tests/acceptance/screenshots