# Ignore temporary build files, dependencies, logs, and test output:
*.socket
*.lock
*.sock
*.pid
*.log
*.jsonl
*.db
*.db-journal
*.sqlite
*.override.yml
*.tmp.yml
*.override.yaml
*.tmp.yaml
*.out
*.test
*.exe
*.dll
*.so
*.dylib
/*.zip
/coverage.*
__pycache__
venv
.venv
.env
.tmp
.eslintcache
/tmp/
/test/
*-lock.json
/node_modules
/frontend/node_modules/*
/frontend/tests/*.html
/frontend/tests/*.log
/frontend/tests/screenshots
/frontend/src/locales/*.mo
/frontend/tests_output
frontend/coverage/
/photoprism
/photoprism-*
/photos/originals/*
/photos/import/*
/storage/*
/build/*
/assets/docs
/assets/facenet
/assets/nasnet
/assets/nsfw
/assets/static/build/
/pro
/plus

# Files created automatically by editors and/or operating systems:
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.heartbeat
.idea
.glide
*~
.goutputstream*
.c9revisions
.settings
.swp
