# Local build files and directories
/photoprism
/photoprism-*
/photos/originals/*
/photos/import/*
/storage/*
/build/*
/assets/docs
/assets/facenet
/assets/nasnet
/assets/nsfw
/assets/static/build/
/pro
/plus
*.exe
*.dll
*.so
*.dylib
/*.zip

# Test output and coverage files
*.out
*.test
/coverage.*
frontend/coverage/

# Frontend cache and dependencies
/node_modules
/frontend/node_modules/*
/frontend/tests/*.html
/frontend/tests/*.log
/frontend/tests/screenshots
/frontend/src/locales/*.mo
/frontend/tests_output
/frontend/.eslintcache
/package-lock.json

# Python cache and dependencies
venv
.venv
__pycache__

# Temporary database, log, and config files
/tmp/
*.log
*.pid
*.db
*.db-journal
*.override.yml
*.tmp.yml
*.override.yaml
*.tmp.yaml

# Files generated automatically, e.g. by IDEs and operating systems
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.heartbeat
.idea
.glide
*~
.goutputstream*
.c9revisions
.settings
.swp
.tmp
.env
