================================================================================
================================================================================

                      Third-Party Software for PhotoPrism

--------------------------------------------------------------------------------

The following 3rd-party software packages may be used by or distributed with
PhotoPrism. Any information relevant to third-party vendors listed below are
collected using common, reasonable means.

Date generated: YYYY-MM-DD

================================================================================

                               Go Dependencies

================================================================================
{{ range . }}{{ if ne .Version "Unknown" }}
Package: {{ .Name }}
Version: {{ .Version }}
License: {{ .LicenseName }} ({{ .LicenseURL }})

{{ .LicenseText }}
--------------------------------------------------------------------------------
{{ end }}{{ end }}
================================================================================

                            Frontend Dependencies

================================================================================

--------------------------------------------------------------------------------
Package                           License       Copyright
--------------------------------------------------------------------------------
