#alerts {
    position: fixed;
    z-index: 1051;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    display: block;
    opacity: 0.8;
}

#alerts .success {
    background-color: #000000;
}

#alerts .success:after {
}

#alerts .error {
    background-color: #cc3300;
}

#alerts .error:before {
}

#alerts .warning {
    background-color: #a89a00;
}

#alerts .warning:before {
}

#alerts .info {
    background-color: #000000;
}

#alerts .alert {
    color: white;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    min-height: 13px;
    padding: 4px 10px 4px 10px;
    font-size: 13px;
    font-weight: normal;
    opacity: 1;
    border-radius: 0;
    margin: 1px 0 0 0;
}

#alerts .alert:first-letter {
    text-transform: uppercase;
}