@import url("../node_modules/vuetify/dist/vuetify.min.css");
@import url("../node_modules/material-design-icons-iconfont/dist/material-design-icons.css");

@import url("alerts.css");
@import url("photo.css");

#app div.loading {
    text-align: center;
    margin: 50px 20px;
}

#busy-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.2);
}

body {
    background: #fefefe;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    clear: both;
    padding: 1rem 2rem;
}

main {
    padding: 0;
    margin: 0;
}

.v-badge__badge {
    font-size: 12px;
    height: 19px;
    width: 19px;
    right: -20px;
    top: -8px;
}