@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap-vue/dist/bootstrap-vue.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");
@import url("alerts.css");

#app div.loading {
    text-align: center;
    margin: 50px 20px;
}

#busy-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.2);
}

body {
    background: #333333;
    color: rgba(255,255,255,0.9);
}

main {
    padding: 0;
    margin: 0;
}

main div.page {
    padding: 2rem;
}

.navbar {
    padding: 3px 2rem 3px 2rem;
    background: black !important;
}

.navbar .nav-item-photos .nav-link.active,
.navbar .nav-item-photos .nav-link:hover {
    color: #c8e5ff;
}

main div.page-photos {
    border-top: 2px solid #c8e5ff;
}

.navbar .nav-item-albums .nav-link.active,
.navbar .nav-item-albums .nav-link:hover {
    color: #c4ffcb;
}

main div.page-albums {
    border-top: 2px solid #c4ffcb;
}

.navbar .nav-item-import .nav-link.active,
.navbar .nav-item-import .nav-link:hover {
    color: #feffb8;
}

main div.page-import {
    border-top: 2px solid #feffb8;
}

.navbar .nav-item-export .nav-link.active,
.navbar .nav-item-export .nav-link:hover {
    color: #ffedc1;
}

main div.page-export {
    border-top: 2px solid #ffedc1;
}

.navbar .nav-item-settings .nav-link.active,
.navbar .nav-item-settings .nav-link:hover {
    color: #f5c5c5;
}

main div.page-settings {
    border-top: 2px solid #f5c5c5;
}