@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap-vue/dist/bootstrap-vue.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
@import url("alerts.css");

#app div.loading {
    text-align: center;
    margin: 50px 20px;
}

#busy-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.2);
}

body {
    background: #fefefe;
    color: #333333;
}

footer {
    clear: both;
    padding: 1rem 2rem;
}

main {
    padding: 0;
    margin: 0;
}

main div.page {
    margin: 43px 0 0 0;
    padding: 2rem;
}

main div.page {
    border-top-width: 3px;
    border-top-style: solid;
}

.navbar {
    padding: 1px 2rem 1px 2rem;
    top: 0;
    left: 0;
    right: 0;
    background: black !important;
    position: fixed !important;
    z-index: 1000;
}

.navbar .nav-item-photos .nav-link.active,
.navbar .nav-item-photos .nav-link:hover {
    color: #c8e5ff;
}

main div.page-photos {
    border-top-color: #c8e5ff;
}

.navbar .nav-item-albums .nav-link.active,
.navbar .nav-item-albums .nav-link:hover {
    color: #c4ffcb;
}

main div.page-albums {
    border-top-color: #c4ffcb;
}

.navbar .nav-item-import .nav-link.active,
.navbar .nav-item-import .nav-link:hover {
    color: #feffb8;
}

main div.page-import {
    border-top-color: #feffb8;
}

.navbar .nav-item-export .nav-link.active,
.navbar .nav-item-export .nav-link:hover {
    color: #ffedc1;
}

main div.page-export {
    border-top-color: #ffedc1;
}

.navbar .nav-item-settings .nav-link.active,
.navbar .nav-item-settings .nav-link:hover {
    color: #f5c5c5;
}

main div.page-settings {
    border-top-color: #f5c5c5;
}

.photo-grid .photo {
    background: #eeeeee;
    display: block;
    width: 250px;
    height: 250px;
    float: left;
    margin: 2px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.photo-grid .photo img {
    margin: 0;
    padding: 0;
}

.photo-grid .photo .info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    background: black;
    font-size: 12px;
    padding: 8px 12px;
    color: white;
    cursor: text;
}

.photo-grid .photo:hover .info {
    display: block;
}

.photo-grid .photo .right {
    float: right;
}

.photo-grid .photo .actions {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    background: transparent;
    font-size: 14px;
    padding: 6px 12px;
    color: white;
    text-align: left;
    cursor: default;
}

.photo-grid .photo:hover .actions {
    background: black;
    opacity: 0.75;
}

.photo-grid .photo .actions .action {
    display: none;
}

.photo-grid .photo:hover .actions .action,
.photo-grid .photo .actions .action.liked {
    display: inline;
    cursor: pointer;
}