<!DOCTYPE html>
<html lang="en" data-color-mode="dark" data-light-theme="light" data-dark-theme="dark" class="overflow-y-hidden">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0{{if not .config.Settings.UI.Zoom }}, maximum-scale=1.0, user-scalable=no{{end}}">

  <title>{{ .config.SiteTitle }}</title>

  <meta property="og:url" content="{{ .config.SiteUrl }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .config.SiteTitle }}{{if .config.SiteCaption}}: {{ .config.SiteCaption }}{{end}}">
  <meta property="og:image" content="{{ .config.SitePreview }}">
  <meta property="og:description" content="{{ .config.SiteDescription }}">

  <meta name="twitter:site" content="@photoprism_app">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .config.SiteTitle }}{{if .config.SiteCaption}}: {{ .config.SiteCaption }}{{end}}">
  <meta name="twitter:image" content="{{ .config.SitePreview }}">
  <meta name="twitter:description" content="{{ .config.SiteDescription }}">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ .config.SiteTitle }}">

  {{if .config.SiteAuthor}}<meta name="author" content="{{ .config.SiteAuthor }}">{{end}}
  {{if .config.SiteDescription}}<meta name="description" content="{{ .config.SiteDescription }}"/>{{end}}

{{template "favicons.gohtml" .}}

  <link rel="stylesheet" href="{{ .config.CssUri }}">
  <link rel="manifest" href="{{ .config.ManifestUri }}" crossorigin="use-credentials">

  <script>
    window.__CONFIG__ = {{ .config }};
  </script>

  <script async defer data-domain="{{ .config.SiteDomain }}" src="https://a.photoprism.app/js/s.js"></script>
</head>
<body class="{{ .config.Flags }} nojs">

{{template "app.gohtml" .}}

<script src="{{ .config.JsUri }}"></script>
</body>
</html>
