@import url("../../node_modules/material-design-icons-iconfont/dist/material-design-icons.css");
@import url("../../node_modules/vuetify/dist/vuetify.min.css");
@import url("../../node_modules/mapbox-gl/dist/mapbox-gl.css");
@import url("colorchange.css");
@import url("maps.css");
@import url("viewer.css");
@import url("photos.css");
@import url("labels.css");

body {
    background: rgb(250, 250, 250);
    color: #333333;
    font-family: Roboto, sans-serif;;
}

footer {
    clear: both;
    padding: 1rem 2rem;
}

main {
    padding: 0;
    margin: 0;
    z-index: 1;
}

#p-busy-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
}

#p-navigation {
    z-index: 10;
}

#p-navigation .p-navigation-count {
    opacity: 0.5;
    position: absolute;
    left: 80px;
    width: 40px;
    display: inline-block;
    text-align: right;
}

#photoprism div.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#photoprism div.loading p {
    color: #616161;
}

#photoprism div.loading div.bar {
    margin: 0;
    width: 100%;
    height: 8px;
    animation: colorchange 3s infinite;
    -webkit-animation: colorchange 3s infinite;
}

#photoprism main .p-results a {
    color: #333333;
}

#photoprism main .p-inline-edit a,
#photoprism main .p-inline-edit a span {
    cursor: text;
}

#photoprism .v-badge__badge {
    font-size: 12px;
    height: 19px;
    width: 19px;
    right: -20px;
    top: -8px;
}

#photoprism .p-pointer {
    cursor: pointer;
}

#photoprism .p-logs {
    color: white;
}

#photoprism .p-log-empty,
#photoprism .p-log-message{
    display: block;
    text-align: left;
    font-size: 1em;
    font-family: monospace;
    white-space: normal;
    color: white;
    padding: 4px;
    margin: 0;
}

#photoprism .p-log-empty {
    font-weight: normal;
}

#photoprism .p-log-message {
    font-weight: bold;
}

#photoprism .p-log-message span {
    color: #FEFEFE;
    font-weight: normal;
}

#photoprism .p-log-fatal,
#photoprism .p-log-critical,
#photoprism .p-log-error {
    color: #F48FB1;
}

#photoprism .p-log-warning {
    color: #FFD600;
}

#photoprism .p-log-fatal {
    color: #FFECB3;
}

#photoprism .p-log-info {
    color: #82B1FF;
}

#photoprism .p-log-debug {
    color: #DDDDDD;
}

#photoprism .p-clickable {
    cursor: pointer;
}

#photoprism .p-rounded {
    border-radius: 50%;
}

/* Feature Flags */

.p-experimental,
.p-debug,
.p-public,
.p-readonly {
    display: none;
}

body.experimental #photoprism .p-experimental,
body.debug #photoprism .p-debug,
body.public #photoprism .p-public,
body.readonly #photoprism .p-readonly {
    display: block;
}

div.v-dialog table.v-table thead th,
div.v-dialog table.v-table tbody td,
div.v-dialog table.v-table tfoot td {
    padding: 0 16px;
}

table.v-table tbody td,
table.v-table tbody td input,
table.v-table tbody td label.v-label,
table.v-table tfoot td,
table.v-table tfoot td input,
table.v-table tfoot td label.v-label
{
    font-weight: 400;
    font-size: 13px;
}

table.v-table tbody td div.v-input__slot,
table.v-table tfoot td div.v-input__slot {
    padding: 0 !important;
}
