/* Auth Form Styles */

main .auth-login {
    min-height: 100px;
    position: absolute;
    color-scheme: light;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

/* Auth Form Colors */

main .auth-login .accent {
    background-color: #05dde1 !important;
}

main .auth-login .accent--text {
    caret-color: #05dde1 !important;
    color: #05dde1 !important;
}

main .auth-login .primary {
    background-color: #00a6a9 !important;
}

main .auth-login .primary--text {
    caret-color: #00a6a9 !important;
    color: #00a6a9 !important;
}

main .auth-login .secondary {
    background-color: #505050 !important;
}

main .auth-login .secondary--text {
    caret-color: #505050 !important;
    color: #505050 !important;
}

main .auth-login .link {
    background-color: #c8e3e7 !important;
}

main .auth-login .link--text {
    caret-color: #c8e3e7 !important;
    color: #c8e3e7 !important;
}

main .auth-actions .auth-links {
    min-height: 24px;
}

main .auth-login a,
main .auth-login .clickable {
    color: rgb(var(--v-theme-secondary, #c8e3e7));
    text-decoration: none;
    cursor: pointer;
}

/* Auth Form Logo */

.auth-login .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 190px;
    height: 30vh;
    max-height: 190px;
    margin: 20px auto 32px auto;
    position: relative;
    left: unset;
}

.auth-layout {
    justify-content: center;
    align-items: center;
}

.auth-login .action-buttons {
    margin: 20px auto 16px auto;
}

.oidc-actions .oidc-icon {
    height: 18px;
    width: auto;
    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    font-size: 24px;
    justify-content: center;
    line-height: 1;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    vertical-align: text-bottom;
    border-style: none;
}

main .auth-login .logo img {
    height: 100%;
}

main .auth-login .auth-login-form .v-card {
    background: #ccc1 !important;
    border-radius: 16px;
    z-index: 1;
}

main .auth-login .auth-login-form .v-text-field input {
    color: #000000de !important;
}

main .auth-login a {
    text-decoration: none !important;
}

main .auth-login,
main .auth-login form,
main .auth-login footer,
main .auth-login .v-input__prepend-outer .v-icon,
main .auth-login .text-subtitle-1,
main .auth-login .text-subtitle-2,
#photoprism main .auth-login .text-body-1,
#photoprism main .auth-login .text-body-2,
#photoprism main .auth-login .text-body-2,
#photoprism main .auth-login .text-subtitle-2 {
    caret-color: #ffffff;
    color: #ffffff;
}

#photoprism main .auth-login form input {
    color: rgb(var(--v-theme-on-surface));
    caret-color: rgb(var(--v-theme-on-surface));
}

#photoprism main .auth-login .theme--light.v-icon,
#photoprism main .auth-login .theme--light.v-label,
#photoprism main .auth-login .v-input__append-inner .v-icon {
    color: rgba(0, 0, 0, .54);
}

#photoprism .v-application main .auth-login .v-btn.v-btn--disabled,
#photoprism .v-application main .auth-login .v-btn.v-btn--disabled .v-icon {
    color: rgba(255, 255, 255, .36) !important;
}

#photoprism .v-application main .auth-login .v-btn.v-btn--disabled {
    background-color: rgba(255, 255, 255, .16) !important;
}

#photoprism main .auth-login footer {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    padding: 0;
    margin: 0;
}

#photoprism main .auth-login footer p {
    padding: 0;
    margin: 0;
}

/* Account Page */

.user-avatar {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    width: 128px;
    height: 128px;
    overflow: hidden;
}