/* Animations */

@-webkit-keyframes rainbow {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

#photoprism .animate-rainbow {
    background: repeating-linear-gradient(315deg, #b8edff, #d4b8ff, #9afbfe, #ffb3e0, #c2fde4);
    background-size: 200% 200%;

    -webkit-animation: rainbow 6s ease infinite;
    -moz-animation: rainbow 6s ease infinite;
    animation: rainbow 6s ease infinite;
}

#photoprism .static-rainbow {
    background-size: 200% 200%;
    background: repeating-linear-gradient(315deg, #b8edff, #d4b8ff, #9afbfe, #ffb3e0, #c2fde4) 100% 50%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#photoprism .animate-rotate {
    animation: rotation 8s infinite linear;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

#photoprism .animate-pulse {
    animation: pulse 5s infinite;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(.3);
    }
}

#photoprism .animate-stretch {
    animation: stretch 1.5s ease-out 0s alternate infinite none running;
}

#photoprism .select-transition {
    -webkit-transition-duration: 15ms !important;
    -moz-transition-duration: 15ms !important;
    -o-transition-duration: 15ms !important;
    transition-duration: 15ms !important;
}

@-webkit-keyframes circle-animation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes circle-animation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Backdrop Blur Filters */

#photoprism .blur-1 {
    backdrop-filter: blur(2px);
}
#photoprism .blur-2 {
    backdrop-filter: blur(3px);
}
#photoprism .blur-3 {
    backdrop-filter: blur(4px);
}
#photoprism .blur-4 {
    backdrop-filter: blur(6px);
}
#photoprism .blur-5 {
    backdrop-filter: blur(8px);
}
#photoprism .blur-6 {
    backdrop-filter: blur(10px);
}
#photoprism .blur-7 {
    backdrop-filter: blur(12px);
}
#photoprism .blur-8 {
    backdrop-filter: blur(14px);
}