/* Maps & Places */

#photoprism .map-control {
    position: absolute;
    background: transparent;
    top: 10px;
    left: 10px;
    z-index: 2;
}

#photoprism.is-rtl .map-control {
    left: auto;
    right: 10px;
}

#photoprism .map-control .map-control-search {
    overflow: hidden;
    border-radius: 24px;
}

#photoprism #map .marker {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.87);
    display: block;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ffffff99;
}

#photoprism #map .cluster-marker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    overflow: hidden;
    background-color: #ffffff99;
    width: 100%;
    height: 100%
}

#photoprism #map .counter-bubble {
    border-radius: 100%;
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 12px;
    display: flex;
    color: #ffffff;
    top: -6px;
    right: -6px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

#photoprism #map .cluster-marker > div {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#photoprism .maplibregl-ctrl-attrib-inner a {
    color: #333 !important;
}
