#photoprism .map-control {
    position: absolute;
    background: transparent;
    bottom: 35px;
    right: 30px;
    z-index: 2;
}

#photoprism.is-rtl .map-control {
    right: auto;
    left: 30px;
}

#photoprism #map .marker {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
    background-color: rgba(0, 0, 0, 0.3);
    border-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

#photoprism .maplibregl-ctrl-attrib-inner a {
    color: #333 !important;
}