/* App Navigation */

#p-navigation {
    z-index: 10;
}

nav .v-list__item__title.title {
    line-height: normal !important;
}

.v-navigation-drawer > .theme--dark.v-list .v-list__item__sub-title {
    color: #ffffff77;
}

#p-navigation .navigation-home .v-list-item-title {
    font-size: 1.15rem;
    font-weight: 500;
}

#p-navigation .v-navigation-drawer .navigation-home .v-list-item__underlay,
#p-navigation .v-navigation-drawer .navigation-home .v-list-item__overlay,
#p-navigation .v-navigation-drawer--rail .navigation-home .v-list-item__append,
#p-navigation .v-navigation-drawer--rail .navigation-home .v-list-item__content {
    display: none;
}

#p-navigation .nav-user-avatar {
    height: 36px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#p-navigation .nav-user-avatar img {
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
}

#p-navigation .nav-sidebar .nav-logo {
    width: 40px;
    text-align: left;
    margin-right: 12px;
}

.is-rtl #p-navigation .nav-sidebar .nav-logo {
    margin-right: 0;
    margin-left: 12px;
}

#p-navigation .nav-small .nav-logo img {
    width: 28px;
    height: 28px;
    text-align: center;
    margin: auto;
}

#p-navigation .v-navigation-drawer--rail .nav-logo {
    width: 46px;
    text-align: center;
    margin: auto;
}

#p-navigation .nav-logo img {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#p-navigation .nav-toolbar-title {
    font-size: 1.15rem;
    font-weight: 500;
    text-align: start;
}

#p-navigation .nav-small .nav-toolbar-title {
    margin-inline-start: 8px;
    text-align: start;
    line-height: normal !important;
}

#p-navigation .v-list-group__items .v-list-item-title {
    padding-left: 32px;
}

.is-rtl #p-navigation .v-list-group__items .v-list-item-title {
    padding-left: 0;
    padding-right: 32px;
}

#p-navigation .v-list-item__prepend,
#p-navigation .v-list-item__append {
    display: unset;
}

#p-navigation .v-list-item__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#p-navigation .navigation-logout .v-list-item__content {
    flex-direction: column;
}

#p-navigation .nav-count-item {
    opacity: 0.5;
    margin-right: 48px !important;
    font-size: .8125rem;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 24px;
}

.is-rtl #p-navigation .nav-count-item {
    margin-left: 48px !important;
    margin-right: auto !important;
}

#p-navigation .nav-count-group {
    opacity: 0.5;
    font-weight: 500;
    letter-spacing: normal;
    margin-right: 8px;
}

.is-rtl #p-navigation .nav-count-group {
    margin-bottom: 0;
    margin-left: 8px;
}

#p-navigation .nav-menu .nav-menu-item {
    line-height: 24px;
}

#p-navigation .nav-menu.v-list .v-list-item--nav:not(:only-child) {
    margin-bottom: 2px;
}

#p-navigation .activator .nav-count-group {
    position: absolute;
    right: 0;
}

.is-rtl #p-navigation .activator .nav-count-group {
    right: auto;
    left: 0;
}

#p-navigation .nav-item-title {
    font-size: .8125rem;
    font-weight: 500;
    letter-spacing: normal;
    padding-left: 24px;
}

.is-rtl #p-navigation .nav-item-title {
    padding-left: 0;
    padding-right: 24px;
}

#p-navigation .v-list-item--variant-plain {
    opacity: 1;
}

#p-navigation .activator .nav-item-title {
    padding-left: 8px !important;
}

.is-rtl #p-navigation .activator .nav-item-title {
    padding-left: 0 !important;
    padding-right: 8px !important;
}

#p-navigation .nav-menu .v-icon--size-default {
    font-size: 24px;
}

.theme--dark.v-sheet .text-link,
.theme--dark.v-card .text-link {
    color: white;
}

#legal-info {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 120px;
    padding: 1px 8px;
    background-color: rgba(255, 255, 255, 0.46);
    margin: 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

#legal-info a,
#legal-info span {
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
    font-size: 11px;
    color: #000;
}

.v-application.small-screen.show-nav main div.v-main__wrap {
    padding-top: 48px;
}

.v-tabs .v-toolbar__content {
    padding: 0 8px 0 0;
}

.v-toolbar.page-toolbar {
    box-shadow: none;
}

.p-page .v-toolbar.page-toolbar .v-toolbar__content,
.v-tabs .v-toolbar.page-toolbar .v-toolbar__content,
.v-toolbar.page-toolbar .v-toolbar__content {
    padding: 0 8px;
}

.p-page .v-toolbar.page-toolbar.v-toolbar--density-compact .v-toolbar__content {
    padding: 0 2px;
}

.v-toolbar.page-toolbar .v-text-field .v-input__prepend-outer {
    margin-right: 0;
}

.v-toolbar.page-toolbar .v-text-field .v-input__slot {
    padding-left: 0;
}

.page-toolbar .input-category .v-select__selections {
    min-width: 130px;
}

.page-toolbar .input-category .v-select__selections input {
    position: absolute;
}

.page-toolbar .input-category .v-select__selections .v-select__selection {
    white-space: nowrap;
    overflow: hidden;
}

.page-toolbar .v-btn.action-expand--active {
    color: rgb(var(--v-theme-primary, #ffffff));
}

.toolbar-expansion-panel {
    position: relative;
    display: none;
}

.toolbar-expansion-panel.toolbar-expansion-panel--visible {
    display: block;
}

.toolbar-expansion-panel>.v-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    overflow: hidden;
    z-index: 2;
    padding: 0;
    border-radius: 0 0 12px 12px;
    opacity: 0.985;
}

.toolbar-expansion-panel>.v-card>.v-card-text.dense {
    margin: -16px;
}

.p-photo-toolbar.embedded {
    position: sticky;
    top: 0;
    z-index: 1;
}

#p-navigation .position-fixed.bottom-0 {
    z-index: 10;
    width: 100%;
    padding: 1px 0 1px 0;
}

.nav-sidebar .nav-menu {
    padding-top: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

.nav-sidebar .nav-menu .nav-menu-item {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.nav-sidebar .nav-menu .activator {
    position: absolute;
    z-index: 10;
    margin-left: 48px;
    margin-right: 48px;
    width: calc(100% - 112px);
}

.nav-sidebar .nav-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

.nav-sidebar.v-navigation-drawer--rail .hide-mini,
.nav-sidebar.v-navigation-drawer--rail .hide-rail {
    display: none;
}

.nav-sidebar .nav-container>.nav-info {
    position: relative;

    background-color: rgb(var(--v-theme-navigation));
    color: rgb(var(--v-theme-on-navigation));
    box-shadow: 0 -7px 8px -4px rgba(var(--v-theme-navigation), .4), 0 -12px 17px 2px rgba(var(--v-theme-navigation), .28), 0 -5px 22px 4px rgba(var(--v-theme-navigation), .24);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: auto;
    padding: 4px;
    gap: 8px;

    border-block-start-color: rgba(var(--v-border-color), var(--v-border-opacity));
    border-block-start-style: solid;
    border-block-start-width: thin;
}

.nav-sidebar .nav-container>.nav-info>.nav-info__underlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    background-color: currentColor;
    border-radius: inherit;
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.nav-sidebar .nav-container>.nav-info>div:not(.nav-info__underlay) {
    z-index: 1;
}

.nav-sidebar .nav-container>.nav-info:hover>.nav-info__underlay {
    opacity: var(--v-hover-opacity, .018);
}

.nav-sidebar.v-navigation-drawer--rail .nav-container>.nav-info {
    flex-direction: column;
}

.activator.v-list-item {
    padding: 0 !important;
}

.activator-parent {
    position: relative;
}

.nav-logo .v-list__item__action {
    min-width: 35px;
}

nav.nav-small .v-menu__content {
    padding: 0;
}

/* SPEED DIAL */

.v-speed-dial__list .v-btn .v-icon {
    font-size: 19px;
}

/* Mobile Menu */

#p-navigation .nav-small .nav-mobile-menu-trigger {
    margin-inline-end: 6px;
}

.v-btn.nav-mobile-menu-trigger:after,
.v-btn.nav-mobile-menu-trigger:before {
    display: none !important;
}

#mobile-menu {
    display: none;
    position: fixed;
    overflow: hidden;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

#mobile-menu .v-icon {
    fill: rgba(255, 255, 255, .93);
    color: rgba(255, 255, 255, .93);
}

#mobile-menu.active {
    display: block;
    width: 100vw;
    height: 100vh;
}

#mobile-menu .menu-content {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: auto;
    height: auto;
    margin: 10px;
    overflow: hidden;
    background: #393a3c;
    border-radius: 8px;
}

#mobile-menu .menu-icons {
    -ms-flex-pack: distribute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-flex-flow: row nowrap;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background: rgba(250, 250, 255, .1);
    padding: 0;
    margin: 0;
    text-align: center;
}

#mobile-menu .menu-icons a {
    fill: rgba(255, 255, 255, .83);
    color: rgba(255, 255, 255, .83);
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
    overflow: hidden;
    padding: 12px 11px 10px 11px;
    margin: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
}

#mobile-menu .menu-icons a:hover {
    background: rgba(250, 250, 255, .08);
}

#mobile-menu .menu-actions {
    display: block;
    overflow-y: auto;
    padding: 0;
    margin: 0;
}

#mobile-menu .menu-action {
    display: block;
    padding: 0;
    margin: 0;
}

#mobile-menu .menu-action:hover {
    background: #3f4042;
}

#mobile-menu .menu-action a {
    fill: rgba(255, 255, 255, .85);
    color: rgba(255, 255, 255, .85);
    display: inline-block;
    min-width: 210px;
    font-size: 15px;
    line-height: 50px;
    text-decoration: none;
    padding: 0 20px;
    margin: 0;
}

#mobile-menu .menu-icons a .v-icon {
    font-size: 22px;
}

#mobile-menu .menu-action a .v-icon {
    padding: 0 16px 0 0;
    font-size: 20px;
}

#mobile-menu .menu-action.nav-membership a .v-icon {
    color: #d9b8ff;
}

#mobile-menu .menu-icons a:hover i,
#mobile-menu .menu-icons a:hover .v-icon,
#mobile-menu .menu-action:hover a,
#mobile-menu .menu-action:hover .v-icon,
#mobile-menu .menu-action:hover a i {
    fill: #ffffff;
    color: #ffffff;
}
