#photoprism .p-col-select {
    width: 66px;
}

#photoprism .p-col-primary {
    width: 44px;
}

#photoprism .p-photo-list tr td:first-child {
    padding: 0 0 0 8px;
    text-align: center;
}

#photoprism .p-photo-list .p-photo-select,
#photoprism .p-photo-list .p-photo-play {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#photoprism .p-photo-mosaic .p-photo-private,
#photoprism .p-photo-cards .p-photo-private {
    top: 4px;
    right: 4px;
}

#photoprism .p-photo-mosaic .p-photo-edit,
#photoprism .p-photo-cards .p-photo-edit {
    top: 4px;
    right: 4px;
}

#photoprism .p-photo-mosaic .p-photo-merged,
#photoprism .p-photo-cards .p-photo-merged,
#photoprism .p-photo-mosaic .p-photo-live,
#photoprism .p-photo-cards .p-photo-live {
    top: 4px;
    left: 4px;
}

#photoprism .p-photo-mosaic .p-photo-play,
#photoprism .p-photo-cards .p-photo-play {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#photoprism .p-photo-mosaic .p-photo-like,
#photoprism .p-photo-cards .p-photo-like {
    left: 4px;
    bottom: 4px;
}

#photoprism .p-photo-cards .action-select,
#photoprism .p-photo-mosaic .action-select,
#photoprism .p-photo-cards .p-photo-select,
#photoprism .p-photo-mosaic .p-photo-select {
    right: 4px;
    bottom: 4px;
}

#photoprism .p-albums-cards .action-select,
#photoprism .p-albums-cards .p-album-select,
#photoprism .p-labels-cards .p-label-select,
#photoprism .p-folders-cards .p-folder-select,
#photoprism .p-files-cards .p-file-select {
    right: 4px;
    bottom: 4px;
}

#photoprism .p-albums-cards .action-share {
    top: 4px;
    left: 4px;
}

#photoprism .p-labels-cards .p-label-count {
    position: absolute;
    left: 12px;
    top: 12px;
}

#photoprism .p-clipboard {
    right: 8px;
    bottom: 12px;
}

#photoprism .p-clipboard .v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
    background-color: rgba(100, 100, 100, 0.5) !important;
}

#photoprism .p-album-desc button,
#photoprism .p-photo-desc button {
    text-align: left;
}

#photoprism .p-photo video {
    width: 100% !important;
    height: auto !important;
    position: absolute;
    overflow: hidden;
}

#photoprism table.photo-files tbody tr td:first-child {
    width: 30%;
    padding: 0 16px 0 24px;
}
