@-webkit-keyframes rainbow-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes rainbow-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes rainbow-animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.rainbow {
    background: repeating-linear-gradient(45deg, #ff9aa2, #dabcd2, #c7ceea, #bbe0de, #b5ead7);
    background-size: 200% 200%;

    -webkit-animation: rainbow-animation 6s ease infinite;
    -moz-animation: rainbow-animation 6s ease infinite;
    animation: rainbow-animation 6s ease infinite;
}

.rainbow-static {
    background-size: 200% 200%;
    background: repeating-linear-gradient(45deg, #ff9aa2, #dabcd2, #c7ceea, #bbe0de, #b5ead7) 100% 50%;
}
