/* PhotoPrism Search Result Styles */

/* Disable native long-touch menu on iOS Safari */
.search-results .result {
    -webkit-touch-callout: none;
}

/*
For more information on the contain property, see https://developers.google.com/web/updates/2016/06/css-containment
*/
body.chrome .search-results .result {
    contain: layout style paint;
}

.v-alert.no-results.v-alert--outline,
.v-alert.no-outline.v-alert--outline {
    border: 0 !important;
}

.cards-view,
.cards-view a,
.cards-view div,
.cards-view img,
.cards-view button,
.cards-view .v-card,
.mosaic-view,
.mosaic-view a,
.mosaic-view .v-card {
    user-select: none !important;
}

.p-col-select {
    width: 66px;
}

.p-col-primary {
    width: 44px;
}

.search-results.list-view tr td:first-child {
    padding: 0 0 0 8px;
    text-align: center;
}

.search-results.list-view .p-photo-select,
.search-results.list-view .p-photo-play {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.album-results .action-share {
    top: 4px;
    left: 4px;
}

.label-results .info-count {
    position: absolute;
    left: 12px;
    top: 12px;
}

.clipboard-container {
    position: fixed;
    bottom: 4px;
    right: 4px;
    z-index: 10;
}

.p-clipboard.--ltr {
    right: 8px;
    bottom: 12px;
}

.p-clipboard.--rtl {
    left: 8px;
    bottom: 12px;
}

.p-clipboard .v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
    background-color: rgba(100, 100, 100, 0.5) !important;
}

.live-player video {
    width: auto;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.portrait .live-player video,
.is-portrait .live-player video {
    width: 100%;
    height: auto;
}

.photo-files tbody tr td:first-child {
    width: 30%;
    padding: 0 24px !important;
}

.img-placeholder {
    opacity: 0.3;
}

.img-color-0 {
    background-color: #696969 !important;
}

/* Black */
.img-color-1 {
    background-color: #DCDCDC !important;
}

/* Grey */
.img-color-2 {
    background-color: #98817B !important;
}

/* Brown */
.img-color-3 {
    background-color: #E5E4E2 !important;
}

/* Gold */
.img-color-4 {
    background-color: #fdfdfd !important;
}

/* White */
.img-color-5 {
    background-color: #AB47BC !important;
}

/* Purple */
.img-color-6 {
    background-color: #8A7F8D !important;
}

/* Blue */
.img-color-7 {
    background-color: #91A3B0 !important;
}

/* Cyan */
.img-color-8 {
    background-color: #B2BEB5 !important;
}

/* Teal */
.img-color-9 {
    background-color: #738678 !important;
}

/* Green */
.img-color-10 {
    background-color: #5E716A !important;
}

/* Lime */
.img-color-11 {
    background-color: #928E85 !important;
}

/* Yellow */
.img-color-12 {
    background-color: #CC8899 !important;
}

/* Magenta */
.img-color-13 {
    background-color: #98817B !important;
}

/* Orange */
.img-color-14 {
    background-color: #CC8899 !important;
}

/* Red */
.img-color-15 {
    background-color: #AA98A9 !important;
}

/* Pink */

.default-hidden {
    display: none;
}

.search-results a {
    color: #333333;
}

.list-view {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12) !important;
}

.cards-view .result,
.mosaic-view .result {
    transition: none;
    box-shadow: none !important;
}

.cards-view .result {
    margin: 2px !important;
}

.mosaic-view .result {
    margin: 0 !important;
}

.search-results .image-container {
    aspect-ratio: 1;
    contain: layout paint style size;
}

.cards-view .result .preview,
.list-view .result .preview,
.mosaic-view .result.preview {
    position: relative;
    user-select: none;
    aspect-ratio: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cards-view .result .preview button,
.list-view .result .preview button,
.mosaic-view .result.preview button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 0;
    transition: background-color .3s cubic-bezier(.25, .8, .5, 1);
}

.list-view td.meta-data {
    min-width: 90px;
    text-align: left;
}

.list-view td.meta-data button {
    min-width: 84px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards-view .result .preview button {
    width: 36px;
    height: 36px;
}

.list-view .result .preview button {
    width: 44px;
    height: 44px;
}

.list-view .result .preview button:hover,
.cards-view .result .preview button:hover,
.mosaic-view .result.preview button:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.list-view .result .preview i,
.cards-view .result .preview i,
.mosaic-view .result.preview i {
    color: #f6f6f6;
    font-size: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    white-space: nowrap;
}

.list-view .result .preview .image,
.cards-view .result .preview .image,
.mosaic-view .result.preview .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    aspect-ratio: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cards-view .result.is-selected .preview .image {
    opacity: 0.8;
}

.mosaic-view .result.is-selected.preview .image {
    opacity: 0.5;
}

.cards-view .result .card-details button {
    font-size: 12px;
    hyphens: auto;
    white-space: normal;
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: break-word;
}

.cards-view .result .card-details button.meta-title {
    font-size: 14px;
    font-weight: bold;
}

.cards-view .result .card-details button.meta-title,
.cards-view .result .card-details button.meta-filename,
.cards-view .result .card-details button.meta-location {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards-view .result .card-details .meta-details {
    margin: 4px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: stretch;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 15px;
}

.cards-view .result .card-details .meta-details button {
    margin: 0;
    padding: 0 0 0 17px;
    position: relative;
    display: block;
}

.cards-view .result .card-details .meta-details button i {
    font-size: 14px;
    line-height: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    vertical-align: text-bottom;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
}

.cards-view .result.placeholder .card-details i {
    width: 14px;
}

.list-view .result.is-selected .preview {
    margin: 2px !important;
}

.cards-view>div {
    padding: 4px 2px;
}

.cards-view .input-select,
.mosaic-view .input-select {
    visibility: hidden;
    opacity: 0.6;
    right: 4px;
    bottom: 4px;
}

.search-results .result:hover .input-view,
.search-results .result:hover .input-open,
.search-results .result:hover .input-favorite,
.search-results .result.is-favorite .input-favorite,
.search-results .result:hover .input-select,
.search-results .result.is-selected .input-select,
.search-results .result:hover .input-hidden,
.search-results .result.is-hidden .input-hidden {
    visibility: visible;
    opacity: 1;
}

.cards-view .result .preview button,
.list-view .result .preview button,
.mosaic-view .result.preview button {
    text-shadow: #606060aa 0 0 4px;
}

.search-results .result .input-select .select-off,
.search-results .result.is-selected .input-select .select-on {
    display: inline-flex;
}

.search-results .result .input-select .select-on,
.search-results .result.is-selected .input-select .select-off {
    display: none;
}

.cards-view .input-favorite,
.mosaic-view .input-favorite {
    opacity: 0.6;
    left: 4px;
    bottom: 4px;
}

.search-results .result .input-favorite .select-off,
.search-results .result.is-favorite .input-favorite .select-on,
.search-results .result .input-private .select-off,
.search-results .result.is-private .input-private .select-on,
.search-results .result .input-hidden .select-off,
.search-results .result.is-hidden .input-hidden .select-on {
    display: inline-flex;
}

.search-results .result .input-favorite .select-on,
.search-results .result.is-favorite .input-favorite .select-off,
.search-results .result .input-private .select-on,
.search-results .result.is-private .input-private .select-off,
.search-results .result .input-hidden .select-on,
.search-results .result.is-hidden .input-hidden .select-off {
    display: none;
}

.disable-manage .search-results .result:not(.is-favorite) .input-favorite {
    visibility: hidden;
}

.disable-manage .search-results .result .input-favorite.v-btn:before {
    visibility: hidden;
}

.cards-view .input-reject,
.mosaic-view .input-reject {
    opacity: 0.75;
    top: 4px;
    right: 4px;
}

.cards-view .input-hidden,
.mosaic-view .input-hidden {
    visibility: hidden;
    opacity: 0.75;
    top: 4px;
    right: 4px;
}

.cards-view .input-private,
.mosaic-view .input-private {
    visibility: hidden;
    opacity: 0.75;
    top: 4px;
    right: 4px;
}

.search-results .result.is-private .input-private {
    visibility: visible;
}

.cards-view .input-open,
.cards-view .input-view,
.mosaic-view .input-open,
.mosaic-view .input-view,
.mosaic-view .input-play {
    display: none;
    opacity: 0.75;
    top: 4px;
    left: 4px;
}

.search-results .result .input-play {
    display: none;
}

.search-results.select-results .type-image .input-view,
.search-results .type-raw .input-open,
.search-results .type-video.is-playable .input-open,
.search-results .type-animated.is-playable .input-open,
.search-results .type-live.is-playable .input-open,
.search-results .type-image.is-stack .input-open {
    display: inline-flex;
}

.search-results .type-image.is-stack .input-view {
    display: none;
}

.search-results .type-raw .input-open .action-raw,
.search-results .type-video.is-playable .input-open .action-play,
.search-results .type-live.is-playable .input-open .action-live,
.search-results .type-animated.is-playable .input-open .action-animated,
.search-results .type-image.is-stack .input-open .action-stack {
    display: inline-flex;
}

.search-results .live-player {
    display: none;
}

.search-results .type-animated.is-playable:hover .live-player,
.search-results .type-live.is-playable:hover .live-player {
    display: flex;
    overflow: hidden !important;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.search-results.list-view .type-video.is-playable .input-play,
.search-results.list-view .type-animated.is-playable .input-play,
.search-results.list-view .type-live.is-playable .input-play {
    display: inline-flex;
    opacity: 0.75;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.cards-view .v-card .card-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.cards-view .card .card-review {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 34px;
}

.cards-view .card .card-review .v-btn {
    height: 34px;
    flex: 0 0 50%;
    max-width: 50%;
    font-size: .875rem;
    letter-spacing: .0178571429em;
    line-height: 1.425;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: none;
    border-radius: 0;
}

.cards-view .card .card-details {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    gap: 4px;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    padding: 16px;
    font-size: .875rem;
    letter-spacing: .0178571429em;
    line-height: 1.425;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-transform: none;
}

.cards-view .card-details button {
    text-align: left;
}

.cards-view .v-card .card-details {
    z-index: 1;
    position: relative;
}

.list-view td.is-selected,
.list-view td.is-selected ~ td {
    color: rgb(var(--v-theme-on-selected, --v-theme-on-highlight)) !important;
    caret: rgb(var(--v-theme-on-selected, --v-theme-on-highlight)) !important;
    background: rgb(var(--v-theme-selected, --v-theme-highlight)) !important;
}

.cards-view .card.is-selected,
.cards-view .card.is-selected .card-background,
.mosaic-view .card.is-selected,
.mosaic-view .card.is-selected .card-background {
    color: rgb(var(--v-theme-on-selected, --v-theme-on-highlight)) !important;
    caret: rgb(var(--v-theme-on-selected, --v-theme-on-highlight)) !important;
    background: rgb(var(--v-theme-selected, --v-theme-highlight)) !important;
}

.cards-view .card.is-selected .card-details .v-icon {
    color: #fff;
}

.search-results.list-view .input-select,
.search-results.list-view .input-open {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.face-results .is-face.is-hidden,
.face-results .is-marker.is-invalid {
    opacity: 0.6;
}

/* old browser support */
@supports not (aspect-ratio: 1) {
    /* elements with aspect-ratio 1 and without margin */
    .search-results .preview-container,
    .cards-view .result .preview,
    .list-view .result .preview,
    .list-view .result.preview,
    .mosaic-view .result.is-selected {
        height: 0;
        padding-bottom: 100%
    }

    /* elements with aspect-ratio 1 and with margin */
    .mosaic-view .result {
        height: 0;
        /*
           8px is required because this aspect-ratio-fallback doesn't take
           margins into consideration
        */
        padding-bottom: calc(100% - 8px)
    }

    .live-player video {
        margin-top: 100%;
    }
}
