/* Right-to-left (RTL) Language Styles */

#photoprism.is-rtl .text-xs-left,
#photoprism.is-rtl .text-sm-left {
    text-align: right !important;
}

#photoprism.is-rtl .text-xs-right,
#photoprism.is-rtl .text-sm-right {
    text-align: left !important;
}

#photoprism.is-rtl .v-text-field .v-input__prepend-inner {
    margin-left: auto;
    padding-left: 4px;
    padding-right: 0;
}

#photoprism.is-rtl .v-toolbar.page-toolbar .v-text-field .v-input__slot {
    padding-left: 12px;
    padding-right: 0;
}

#photoprism.is-rtl .card-details button {
    text-align: right;
}

#photoprism.is-rtl .p-flex-menuitem .nav-count {
    margin-left: 48px;
    margin-right: 8px;
}

#photoprism.is-rtl .v-list__group__header .p-flex-menuitem .nav-count {
    margin-left: 0;
}

#photoprism.is-rtl .v-toolbar__content > :last-child.v-btn--icon,
#photoprism.is-rtl .v-toolbar__extension > :last-child.v-btn--icon {
    margin-left: -6px;
    margin-right: 6px;
}

#photoprism .v-btn.v-btn--depressed.v-btn--small .v-icon--right {
    font-size: 16px;
    margin-left: 8px;
}

#photoprism .v-btn.v-btn--depressed.v-btn--small .v-icon--left {
    font-size: 16px;
    margin-right: 8px;
}