/* App Loading Animation */

#photoprism.container {
    position: fixed;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(160deg, #ffffff 0%, #e2daf1 100%);
}

#photoprism div.logo-large {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
}

#photoprism div.loading-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    z-index: 2;
}

#photoprism div.loading-bar {
    position: fixed;
    bottom: 15%;
    right: 10%;
    left: 10%;
}

#photoprism div.loading-circle {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    border: 4px rgba(0, 0, 0, 0.25) solid;
    border-top: 20px #d48af4 solid;
    border-right: 20px #a990ec solid;
    border-bottom: 20px #86c8ed solid;
    border-left: 20px #a3ddf4 solid;
    border-radius: 50%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: circle-animation 1s infinite linear;
    animation: circle-animation 1s infinite linear;
}

#photoprism div.loading-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 260px;
    z-index: 1;
    text-align: center !important;
    color: #e2daf1 !important;
    caret-color: #e2daf1 !important;
}

#photoprism div.loading-animation .loading-overlay {
    -webkit-animation: progress-circular-dash 1.7s ease-in-out infinite;
    animation: progress-circular-dash 1.7s ease-in-out infinite;
}

#photoprism div.loading-animation .loading-underlay {
    stroke: rgba(209, 196, 233, 0.2);
    z-index: 1;
}

#photoprism div.loading-animation .loading-overlay {
    stroke: currentColor;
    z-index: 2;
}

#photoprism div.loading-animation svg {
    transform: rotate(0deg);
    -webkit-animation: progress-circular-rotate 1.7s linear infinite;
    animation: progress-circular-rotate 1.7s linear infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
}

#noscript-info {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0;
    border-radius: 5px;
    min-width: 200px;
    text-align: center;
}

#noscript-info a {
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: #000;
}

#loading-info {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0;
    border-radius: 5px;
    min-width: 200px;
    text-align: center;
}

#loading-info a {
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: #000;
}