#photoprism table.v-table,
#photoprism .v-sheet {
    border-radius: 0;
}

div.v-dialog table.v-table thead th,
div.v-dialog table.v-table tbody td,
div.v-dialog table.v-table tfoot td {
    padding: 0 16px;
}

table.v-table tbody td,
table.v-table tbody td input,
table.v-table tbody td select,
table.v-table tbody td .v-input,
table.v-table tbody td label.v-label,
table.v-table tfoot td,
table.v-table tfoot td input,
table.v-table tbody td select,
table.v-table tbody td .v-input,
table.v-table tfoot td label.v-label {
    font-weight: 400;
    font-size: 13px;
}

table.v-table tbody td div.v-input__slot,
table.v-table tfoot td div.v-input__slot {
    padding: 0 !important;
}

table.v-table tbody td .v-icon.src {
    font-size: 13px;
    margin-left: 4px;
}

table.v-table td .v-btn.v-btn--small.btn-action {
    margin: 4px 8px 4px 0;
    padding: 3px 12px;
    min-width: 90px;
}
