@import url("themes/grayscale.css");
@import url("themes/vanta.css");
@import url("themes/shadow.css");
@import url("themes/yellowstone.css");
@import url("themes/abyss.css");
@import url("themes/gemstone.css");

/* General Styles */

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 9999s !important;
}

body.dark-theme #photoprism .v-tabs .v-badge__badge {
    color: #000000;
}

body.dark-theme .theme--light.v-list .v-list__tile--highlighted,
body.dark-theme .theme--light.v-list a:hover {
    background: rgba(255,255,255,0.3) !important;
}

.theme--light.v-list .v-list__tile--highlighted,
.theme--light.v-list a:hover {
    background: rgba(155,155,155,0.3) !important;
}

/* Exceptions */

#photoprism .theme--light.v-text-field--solo.background-inherit>.v-input__control>.v-input__slot {
    background: inherit;
    box-shadow: none;
}
