/* General Styles */

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 9999s !important;
}

/* Dark Scrollbar */

body.dark-theme {
    scrollbar-color: dark;
}

body.dark-theme #photoprism .v-tabs .v-badge__badge {
    color: #000000;
}

/* Grayscale Theme */

.theme-grayscale .v-content__wrap,
.theme-grayscale .p-page,
.theme-grayscale .form,
.theme-grayscale .v-content {
    background: #525252 !important;
}

#photoprism.theme-grayscale .theme--light.v-small-dialog__content,
#photoprism.theme-grayscale .theme--light.v-sheet,
#photoprism.theme-grayscale .theme--light.v-card {
    background: #525252;
}

.theme-grayscale .application.theme--light {
    background: #525252;
}

#photoprism.theme-grayscale .theme--light .v-table {
    background: #4E4E4E;
}

#photoprism.theme-grayscale .theme--light.v-table thead th,
#photoprism.theme-grayscale .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-grayscale .theme--light.v-table tbody tr:hover {
    background: #666;
}

#photoprism.theme-grayscale .theme--light.v-chip,
#photoprism.theme-grayscale .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #777;
}

#photoprism.theme-grayscale .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #4E4E4E;
}

#photoprism.theme-grayscale .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-grayscale .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-grayscale .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-grayscale .theme--light.v-input--is-disabled input,
#photoprism.theme-grayscale .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-grayscale,
#photoprism.theme-grayscale .p-page a,
#photoprism.theme-grayscale .v-datatable a,
#photoprism.theme-grayscale .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-grayscale .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-grayscale .theme--light {
    color: #fff;
}

#photoprism.theme-grayscale .theme--light.v-list {
    background: #555;
}

#photoprism.theme-grayscale a.text-link {
    color: #e3d5c3 !important;
}

#photoprism.theme-grayscale .theme--light.v-select .v-select__selections {
    color: #e3d5c3;
}

#photoprism.theme-grayscale .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-grayscale .accent--text {
    color: #e3d5c3 !important;
}

#photoprism.theme-grayscale .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-grayscale .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-grayscale .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-grayscale .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-grayscale .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-grayscale .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

/* Shadow Theme */

.theme-shadow .v-content__wrap,
.theme-shadow .p-page,
.theme-shadow .form,
.theme-shadow .v-content {
    background: #444 !important;
}

#photoprism.theme-shadow .theme--light.v-small-dialog__content,
#photoprism.theme-shadow .theme--light.v-sheet,
#photoprism.theme-shadow .theme--light.v-card {
    background: #444;
}

.theme-shadow .application.theme--light {
    background: #444;
}

#photoprism.theme-shadow .theme--light .v-table {
    background: #4E4E4E;
}

#photoprism.theme-shadow .theme--light.v-table thead th,
#photoprism.theme-shadow .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-shadow .theme--light.v-table tbody tr:hover {
    background: #666;
}

#photoprism.theme-shadow .theme--light.v-chip,
#photoprism.theme-shadow .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #333;
}

#photoprism.theme-shadow .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #4E4E4E;
}

#photoprism.theme-shadow .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-shadow .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-shadow .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-shadow .theme--light.v-input--is-disabled input,
#photoprism.theme-shadow .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-shadow,
#photoprism.theme-shadow .p-page a,
#photoprism.theme-shadow .v-datatable a,
#photoprism.theme-shadow .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-shadow .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-shadow .theme--light {
    color: #fff;
}

#photoprism.theme-shadow .theme--light.v-list {
    background: #555;
}

#photoprism.theme-shadow a.text-link {
    color: #c8e3e7 !important;
}

#photoprism.theme-shadow .theme--light.v-select .v-select__selections {
    color: #eee;
}

#photoprism.theme-shadow .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-shadow .accent--text {
    color: #c4f1e5 !important;
}

#photoprism.theme-shadow .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-shadow .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-shadow .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-shadow .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-shadow .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-shadow .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

/* Yellowstone Theme */

.theme-yellowstone .v-content__wrap,
.theme-yellowstone .p-page,
.theme-yellowstone .form,
.theme-yellowstone .v-content {
    background: #444 !important;
}

#photoprism.theme-yellowstone .theme--light.v-small-dialog__content,
#photoprism.theme-yellowstone .theme--light.v-sheet,
#photoprism.theme-yellowstone .theme--light.v-card {
    background: #444;
}

.theme-yellowstone .application.theme--light {
    background: #444;
}

#photoprism.theme-yellowstone .theme--light .v-table {
    background: #4E4E4E;
}

#photoprism.theme-yellowstone .theme--light.v-table thead th,
#photoprism.theme-yellowstone .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-yellowstone .theme--light.v-table tbody tr:hover {
    background: #666;
}

#photoprism.theme-yellowstone .theme--light.v-chip,
#photoprism.theme-yellowstone .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #333;
}

#photoprism.theme-yellowstone .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #4E4E4E;
}

#photoprism.theme-yellowstone .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-yellowstone .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-yellowstone .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-yellowstone .theme--light.v-input--is-disabled input,
#photoprism.theme-yellowstone .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-yellowstone,
#photoprism.theme-yellowstone .p-page a,
#photoprism.theme-yellowstone .v-datatable a,
#photoprism.theme-yellowstone .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-yellowstone .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-yellowstone .theme--light {
    color: #fff;
}

#photoprism.theme-yellowstone .theme--light.v-list {
    background: #555;
}

#photoprism.theme-yellowstone a.text-link {
    color: #ffb700 !important;
}

#photoprism.theme-yellowstone .theme--light.v-select .v-select__selections {
    color: #eee;
}

#photoprism.theme-yellowstone .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-yellowstone .accent--text {
    color: #ffb700 !important;
}

#photoprism.theme-yellowstone .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-yellowstone .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-yellowstone .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-yellowstone .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-yellowstone .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-yellowstone .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

/* Midnight Theme */

.theme-midnight .v-content__wrap,
.theme-midnight .p-page,
.theme-midnight .form,
.theme-midnight .v-content {
    background: #212121 !important;
}

#photoprism.theme-midnight .theme--light.v-small-dialog__content,
#photoprism.theme-midnight .theme--light.v-sheet,
#photoprism.theme-midnight .theme--light.v-card {
    background: #212121;
}

.theme-midnight .application.theme--light {
    background: #212121;
}

#photoprism.theme-midnight .theme--light .v-table {
    background: #262626;
}

#photoprism.theme-midnight .theme--light.v-table thead th,
#photoprism.theme-midnight .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-midnight .theme--light.v-table tbody tr:hover {
    background: #333333;
}

#photoprism.theme-midnight .theme--light.v-chip,
#photoprism.theme-midnight .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #333;
}

#photoprism.theme-midnight .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #262626;
}

#photoprism.theme-midnight .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-midnight .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-midnight .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-midnight .theme--light.v-input--is-disabled input,
#photoprism.theme-midnight .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-midnight,
#photoprism.theme-midnight .p-page a,
#photoprism.theme-midnight .v-datatable a,
#photoprism.theme-midnight .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-midnight .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-midnight .theme--light {
    color: #fff;
}

#photoprism.theme-midnight .theme--light.v-list {
    background: #262626;
}

#photoprism.theme-midnight a.text-link {
    color: #c8e3e7 !important;
}

#photoprism.theme-midnight .theme--light.v-select .v-select__selections {
    color: #eee;
}

#photoprism.theme-midnight .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-midnight .accent--text {
    color: #919bd4 !important;
}

#photoprism.theme-midnight .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-theri .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-midnight .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-midnight .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-midnight .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-midnight .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}


/* Exceptions */

#photoprism .theme--light.v-text-field--solo.background-inherit>.v-input__control>.v-input__slot {
    background: inherit;
    box-shadow: none;
}
