/* Font Settings */

body {
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;

    /* Text rendering defaults. */
    letter-spacing: normal;
    text-justify: inter-word;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Enable font features. */
    font-feature-settings: 'kern', 'liga';
}

body #app {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 600px) {
    .text-columns {
        column-count: 2;
        column-gap: 2em;
        orphans: 3;
        widows: 0;
    }
}

.caption.filename {
    font-weight: 500;
}

.break-word,
.v-datatable td,
.v-card button,
.v-card .caption {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
}

/* Line Height */

.lh-15 {
    line-height: 1.5rem !important;
}

.lh-16 {
    line-height: 1.6rem !important;
}

.lh-17 {
    line-height: 1.7rem !important;
}

.lh-18 {
    line-height: 1.8rem !important;
}

.lh-19 {
    line-height: 1.9rem !important;
}

.lh-20 {
    line-height: 2.0rem !important;
}

/* Page Text Styles */

.p-page p,
.p-help-websockets p,
.p-page li {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.425;
    letter-spacing: 0.0178571429em;
    margin-bottom: 0.85rem;
}

.p-page h2 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0125em;
    margin-bottom: 0.5rem;
}

.p-page h3,
.p-page h4 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.009375em;
    margin-bottom: 0.5rem;
}

/* Link Text Styles */

.text-link {
    color: rgb(var(--v-theme-primary, #ffffff));
    text-decoration: none;
}

#photoprism .p-page a,
#photoprism .footer .text-link,
#photoprism .footer .body-link {
    color: rgb(var(--v-theme-on-surface, #ffffff));
    text-decoration: none;
}

/* Footer Text Styles */

#photoprism .footer p {
    margin: 0;
    padding: 0;
}
