/* Video Viewer */

#photoprism .video-viewer {
    z-index: 2147483647;
    position: fixed;
    box-sizing: border-box;
    border: none;
    outline: none;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.72);
}

#photoprism .video-wrapper {
    overflow: hidden !important;
    position: relative;
    border: none;
    outline: none;
    border-image-width: 0;
    border-radius: 0;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
}

#photoprism .video-player {
    overflow: hidden !important;
    position: absolute;
    border: none;
    outline: none;
    border-image-width: 0;
    border-radius: 0;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100vw;
    max-height: 100vh;
}

/* Photo Viewer */

#photo-viewer {
    z-index: 1500;
}

#photo-viewer .pswp__caption__center {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
    color: #E0E0E0;
    font-weight: 400;
}

#photo-viewer .pswp__caption__center .v-icon,
#photo-viewer .pswp__caption__center a {
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    padding-left: 4px;
}

#photo-viewer .pswp__caption__center .description {
    font-weight: 300;
    font-size: 13px;
}

#photo-viewer .pswp__caption__center .taken {
    font-weight: 300;
    font-size: 13px;
}

#photo-viewer .pswp__taken {
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    color: #E0E0E0;
    font-weight: 300;
    width: auto;
    height: 44px;
    position: relative;
    background: none;
    cursor: none;
    overflow: visible;
    -webkit-appearance: none;
    display: block;
    border: 0;
    margin: 0;
    float: left;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#photo-viewer .pswp__container.slideshow {
    transition: transform 0.8s ease-in-out;
}

#photo-viewer .pswp__img {
    -webkit-touch-callout: default;
}