/* Feature Flags */

.hidden-always,
body.disconnected .connected,
body.shared .hidden-shared-only {
    display: none !important;
}

.feature-mobile,
.feature-experimental,
.feature-develop,
.feature-preview,
.feature-debug,
.feature-public,
.feature-readonly {
    display: none !important;
}

body.mobile .feature-mobile,
body.experimental .feature-experimental,
body.experimental .feature-preview,
body.develop .feature-develop,
body.develop .feature-preview,
body.debug .feature-debug,
body.public .feature-public,
body.readonly .feature-readonly {
    display: block !important;
}

/* Opacity */

.opacity-0 {
    opacity: 0 !important;
}

.opacity-10 {
    opacity: 0.1 !important;
}

.opacity-20 {
    opacity: 0.2 !important;
}

.opacity-30 {
    opacity: 0.3 !important;
}

.opacity-40 {
    opacity: 0.4 !important;
}

.opacity-50 {
    opacity: 0.5 !important;
}

.opacity-60 {
    opacity: 0.6 !important;
}

.opacity-70 {
    opacity: 0.7 !important;
}

.opacity-75 {
    opacity: 0.75 !important;
}

.opacity-80 {
    opacity: 0.8 !important;
}

.opacity-85 {
    opacity: 0.85 !important;
}

.opacity-90 {
    opacity: 0.9 !important;
}

.opacity-95 {
    opacity: 0.95 !important;
}

.opacity-98 {
    opacity: 0.98 !important;
}

.opacity-100 {
    opacity: 1 !important;
}
