.wallpaper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.auth-login.wallpaper {
    background-image: url(https://cdn.photoprism.app/wallpaper/default.jpg);
}

.dark-theme #photoprism .auth-login-box
{
    opacity: 98%;
}

#photoprism .blur-1 {
    backdrop-filter: blur(2px);
}
#photoprism .blur-2 {
    backdrop-filter: blur(3px);
}
#photoprism .blur-3 {
    backdrop-filter: blur(4px);
}
#photoprism .blur-4 {
    backdrop-filter: blur(6px);
}
#photoprism .blur-5 {
    backdrop-filter: blur(8px);
}
#photoprism .blur-6 {
    backdrop-filter: blur(10px);
}

#photoprism.theme-gemstone .auth-login.wallpaper {
    background-image: url(https://cdn.photoprism.app/wallpaper/gemstone.jpg);
}

#photoprism.theme-raspberry .auth-login.wallpaper
{
    background-image: url(https://cdn.photoprism.app/wallpaper/raspberry.jpg);
}

#photoprism.theme-cyano .auth-login.wallpaper
{
    background-image: url(https://cdn.photoprism.app/wallpaper/cyano.jpg);
}

#photoprism.theme-vanta .auth-login.wallpaper
{
    background-image: url(https://cdn.photoprism.app/wallpaper/vanta.jpg);
}

#photoprism.theme-abyss .auth-login.wallpaper
{
    background-image: url(https://cdn.photoprism.app/wallpaper/abyss.jpg);
}

#photoprism.theme-grayscale .auth-login.wallpaper
{
    background-image: url(https://cdn.photoprism.app/wallpaper/grayscale.jpg);
}

#photoprism.theme-yellowstone .auth-login.wallpaper
{
    background-image: url(https://cdn.photoprism.app/wallpaper/yellowstone.jpg);
}

#photoprism.theme-shadow .auth-login.wallpaper
{
    background-image: url(https://cdn.photoprism.app/wallpaper/shadow.jpg);
}
