.wallpaper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.auth-login.wallpaper {
    background-image: url(https://da.photoprism.app/wallpaper/default.jpg);
}

#photoprism.theme-gemstone .auth-login-box
{
    opacity: 98%;
}

#photoprism.theme-gemstone .auth-login.wallpaper {
    background-image: url(https://da.photoprism.app/wallpaper/gemstone.jpg);
}

#photoprism.theme-raspberry .auth-login.wallpaper
{
    background-image: url(https://da.photoprism.app/wallpaper/raspberry.jpg);
}

#photoprism.theme-vanta .auth-login.wallpaper
{
    background-image: url(https://da.photoprism.app/wallpaper/vanta.jpg);
}

#photoprism.theme-abyss .auth-login.wallpaper
{
    background-image: url(https://da.photoprism.app/wallpaper/abyss.jpg);
}

#photoprism.theme-grayscale .auth-login.wallpaper
{
    background-image: url(https://da.photoprism.app/wallpaper/grayscale.jpg);
}

#photoprism.theme-yellowstone .auth-login.wallpaper
{
    background-image: url(https://da.photoprism.app/wallpaper/yellowstone.jpg);
}

#photoprism.theme-shadow .auth-login.wallpaper
{
    background-image: url(https://da.photoprism.app/wallpaper/shadow.jpg);
}
