  <link rel="shortcut icon" sizes="512x512" type="image/png" href="{{ .config.StaticUri }}/img/favicon-512.png">
  <link rel="shortcut icon" sizes="256x256" type="image/png" href="{{ .config.StaticUri }}/img/favicon-256.png">
  <link rel="shortcut icon" sizes="196x196" type="image/png" href="{{ .config.StaticUri }}/img/favicon-196.png">
  <link rel="shortcut icon" sizes="192x192" type="image/png" href="{{ .config.StaticUri }}/img/favicon-192.png">
  <link rel="shortcut icon" sizes="160x160" type="image/png" href="{{ .config.StaticUri }}/img/favicon-160.png">
  <link rel="shortcut icon" sizes="144x144" type="image/png" href="{{ .config.StaticUri }}/img/favicon-144.png">
  <link rel="shortcut icon" sizes="128x128" type="image/png" href="{{ .config.StaticUri }}/img/favicon-128.png">
  <link rel="shortcut icon" sizes="114x114" type="image/png" href="{{ .config.StaticUri }}/img/favicon-114.png">
  <link rel="shortcut icon" sizes="72x72" type="image/png" href="{{ .config.StaticUri }}/img/favicon-72.png">
  <link rel="shortcut icon" sizes="32x32" type="image/png" href="{{ .config.StaticUri }}/img/favicon-32.png">
  <link rel="shortcut icon" sizes="16x16" type="image/png" href="{{ .config.StaticUri }}/img/favicon-16.png">
  <link rel="apple-touch-icon" sizes="1024x1024" type="image/png" href="{{ .config.StaticUri }}/img/logo-square-1024.png">
  <link rel="apple-touch-icon" sizes="512x512" type="image/png" href="{{ .config.StaticUri }}/img/logo-square-512.png">
  <link rel="apple-touch-icon" sizes="256x256" type="image/png" href="{{ .config.StaticUri }}/img/logo-square-256.png">
  <link rel="apple-touch-icon" sizes="175x175" type="image/png" href="{{ .config.StaticUri }}/img/logo-square-175.png">
  <link rel="apple-touch-icon" sizes="128x128" type="image/png" href="{{ .config.StaticUri }}/img/logo-square-128.png">
  <link rel="apple-touch-icon" sizes="56x56" type="image/png" href="{{ .config.StaticUri }}/img/logo-square-56.png">
  <link rel="apple-touch-icon" sizes="16x16" type="image/png" href="{{ .config.StaticUri }}/img/logo-square-16.png">
  <link rel="icon" type="image/png" href="{{ .config.StaticUri }}/img/favicon-16.png">

  <meta name="msapplication-square72x72logo" content="{{ .config.StaticUri }}/img/favicon-72.png">
  <meta name="msapplication-square160x160logo" content="{{ .config.StaticUri }}/img/favicon-160.png">
