<link rel="apple-touch-icon-precomposed icon" sizes="512x512" type="image/png" href="/static/img/favicon-512.png">
<link rel="apple-touch-icon-precomposed icon" sizes="256x256" type="image/png" href="/static/img/favicon-256.png">
<link rel="apple-touch-icon-precomposed icon" sizes="196x196" type="image/png" href="/static/img/favicon-196.png">
<link rel="apple-touch-icon-precomposed icon" sizes="192x192" type="image/png" href="/static/img/favicon-192.png">
<link rel="apple-touch-icon-precomposed icon" sizes="160x160" type="image/png" href="/static/img/favicon-160.png">
<link rel="apple-touch-icon-precomposed icon" sizes="144x144" type="image/png" href="/static/img/favicon-144.png">
<link rel="apple-touch-icon-precomposed icon" sizes="128x128" type="image/png" href="/static/img/favicon-128.png">
<link rel="apple-touch-icon-precomposed icon" sizes="114x114" type="image/png" href="/static/img/favicon-114.png">
<link rel="apple-touch-icon-precomposed icon" sizes="72x72" type="image/png" href="/static/img/favicon-72.png">
<link rel="apple-touch-icon-precomposed icon" sizes="32x32" type="image/png" href="/static/img/favicon-32.png">
<link rel="apple-touch-icon-precomposed icon" sizes="16x16" type="image/png" href="/static/img/favicon-16.png">
<link rel="shortcut icon" type="image/png" href="/static/img/favicon-16.png"/>
