      <span class="quote-0">One picture is worth a thousand words.</span>
      <span class="quote-1">It's not the camera, but who's behind the camera.</span>
      <span class="quote-2">The pictures you want tomorrow, you have to take today.</span>
      <span class="quote-3">A camera captures light, our mind captures images.</span>
      <span class="quote-4">If you can shoot on the street you can shoot anything.</span>
      <span class="quote-5">When asked what equipment you use, say it's your eyes.</span>
      <span class="quote-6">Photography is the only language that can be understood anywhere in the world.</span>