<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0{{if not .config.Settings.UI.Zoom }}, maximum-scale=1.0, user-scalable=no{{end}}">

  <title>{{ .config.SiteTitle }}</title>

  {{if .config.SiteAuthor}}<meta name="author" content="{{ .config.SiteAuthor }}">{{end}}
  {{if .config.SiteDescription}}<meta name="description" content="{{ .config.SiteDescription }}"/>{{end}}

{{template "favicons.tmpl" .}}

  <link rel="stylesheet" href="{{ .config.CssUri }}">
</head>
<body>
<div id="photoprism" class="container">
  <div class="fullscreen animate-rainbow">
    <div class="logo-large">
      <svg id="b6f816b8-2ec9-4341-9df4-026397ed8ecb" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 283.46 283.46">
        <defs>
          <style>.ba518a38-ee1f-413e-9d3c-314e98d01903 {
              fill: none;
              stroke: #1d1d1b;
              stroke-miterlimit: 10;
              stroke-width: 4px;
            }</style>
        </defs>
        <path id="e47e55cb-4800-4b2c-9d8d-6a55eeeef919" data-name="Logo Pfad"
              class="ba518a38-ee1f-413e-9d3c-314e98d01903"
              d="M263.24,206.16l-5.8,32.09m-236.61-31,19.09,18.91M167.34,42.91,40,225.58a.13.13,0,0,0,.1.2l217.16,12.45a.12.12,0,0,0,.12-.17L167.55,42.93A.12.12,0,0,0,167.34,42.91ZM141.1,25.24,20.25,207a.16.16,0,0,0,.14.25l242.1-1.05a.17.17,0,0,0,.14-.26L141.37,25.24A.16.16,0,0,0,141.1,25.24Zm.14-.21,26.22,17.7"/>
      </svg>
    </div>
  </div>
</div>
</body>
</html>
