/* Abyss Theme */

body.dark-theme.theme-abyss,
.theme-abyss .v-content__wrap,
.theme-abyss .p-page,
.theme-abyss .form,
.theme-abyss .v-content {
    background: #202020 !important;
}

.theme-abyss .application.theme--light,
#photoprism.theme-abyss .theme--light.v-small-dialog__content,
#photoprism.theme-abyss .theme--light.v-sheet,
#photoprism.theme-abyss .theme--light.v-card {
    background: #202020;
}

#photoprism.theme-abyss .theme--light .v-table {
    background: #242424;
}

#photoprism.theme-abyss .theme--light.v-table thead th,
#photoprism.theme-abyss .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-abyss .theme--light.v-table tbody tr:hover {
    background: #342C43;
}

#photoprism.theme-abyss .theme--light.v-chip,
#photoprism.theme-abyss .v-card__actions .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    background: #333;
}

#photoprism.theme-abyss .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    background: #262626;
}

#photoprism.theme-abyss .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-abyss .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-abyss .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-abyss .theme--light.v-input--is-disabled input,
#photoprism.theme-abyss .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-abyss,
#photoprism.theme-abyss .p-page a,
#photoprism.theme-abyss .v-datatable a,
#photoprism.theme-abyss .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-abyss .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-abyss .theme--light {
    color: #fff;
}

#photoprism.theme-abyss .theme--light.v-list {
    background: #181818;
}

#photoprism.theme-abyss a.text-link {
    color: #9f6df8 !important;
}

#photoprism.theme-abyss .theme--light.v-select .v-select__selections {
    color: #eee;
}

#photoprism.theme-abyss .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-abyss .accent--text {
    color: #643da9 !important;
}

#photoprism.theme-abyss .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-abyss .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-abyss .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-abyss .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-abyss .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-abyss .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

#photoprism.theme-abyss .mobile-dial .v-speed-dial__list .v-btn {
    color: white;
    background-color: #432970;
}

#photoprism.theme-abyss .mobile-dial .v-speed-dial__list .v-btn.highlight {
    background-color: #643da9;
}

#photoprism.theme-abyss .mobile-dial .v-speed-dial__list .v-btn:hover,
#photoprism.theme-abyss .mobile-dial .v-speed-dial__list .v-btn.highlight:hover {
    background-color: #7e57c2;
}