/* Gemstone Dark Theme */

body.dark-theme.theme-gemstone,
.theme-gemstone .v-content__wrap,
.theme-gemstone .p-page,
.theme-gemstone .form,
.theme-gemstone .v-content {
    background: #2f2f31 !important;
}

.theme-gemstone .application.theme--light,
#photoprism.theme-gemstone .theme--light.v-small-dialog__content,
#photoprism.theme-gemstone .theme--light.v-sheet,
#photoprism.theme-gemstone .theme--light.v-card {
    background: #2f2f31;
}

#photoprism.theme-gemstone .theme--light .v-table {
    background: #333336;
}

#photoprism.container.theme-gemstone {
    background-image: linear-gradient(160deg, #808080 0%, #262626 100%);
}

#photoprism.container.theme-gemstone div.loading-animation {
    color: #AFB4D4 !important;
    caret-color: #AFB4D4 !important;
}

#photoprism.container.theme-gemstone div.loading-animation .loading-underlay {
    stroke: rgba(196, 241, 229, 0.3);
}

#photoprism.theme-gemstone .theme--light.v-table thead th,
#photoprism.theme-gemstone .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-gemstone .theme--light.v-table tbody tr:hover {
    background: #47474b;
}

#photoprism.theme-gemstone .theme--light.v-chip,
#photoprism.theme-gemstone .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: rgba(250, 250, 255, 0.1);
}

#photoprism.theme-gemstone .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: rgba(250, 250, 255, 0.1);
}

#photoprism.theme-gemstone .map-control .theme--light.v-input:not(.v-input--is-disabled) i,
#photoprism.theme-gemstone .map-control .theme--light.v-input:not(.v-input--is-disabled) input {
    color: #333333;
}

#photoprism.theme-gemstone .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-gemstone .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-gemstone .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-gemstone .theme--light.v-input--is-disabled input,
#photoprism.theme-gemstone .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-gemstone,
#photoprism.theme-gemstone .p-page a,
#photoprism.theme-gemstone .v-datatable a,
#photoprism.theme-gemstone .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-gemstone .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-gemstone .theme--light {
    color: #fff;
}

#photoprism.theme-gemstone .theme--light.v-list {
    background: #272729;
}

#photoprism.theme-gemstone a.text-link {
    color: #BABEDC !important;
}

#photoprism.theme-gemstone .theme--light.v-select .v-select__selections {
    color: #eee;
}

#photoprism.theme-gemstone .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-gemstone .accent--text {
    color: #BABEDC !important;
}

#photoprism.theme-gemstone .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-gemstone .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-gemstone .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-gemstone .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-gemstone .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-gemstone .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

#photoprism.theme-gemstone .cards-view .card.is-selected .card-details {
    color: #fff;
    background-color: #47474b;
}

#photoprism.theme-gemstone .cards-view .card.is-selected,
#photoprism.theme-gemstone .cards-view .card.is-selected .card-background {
    background-color: #47474b !important;
}

#photoprism.theme-gemstone .cards-view .card.is-selected .card-details .v-icon {
    color: #fff;
}