/* Grayscale Dark Theme */

body.dark-theme.theme-grayscale {
    background: #525252 !important;
}

#photoprism.container.theme-grayscale {
    background-image: linear-gradient(160deg, #f5f5f5 0%, #bebfc5 100%);
}

#photoprism.container.theme-grayscale div.loading-animation {
    color: #c8bdb1 !important;
    caret-color: #c8bdb1 !important;
}

#photoprism.container.theme-grayscale div.loading-animation .loading-underlay {
    stroke: rgba(200, 189, 177, 0.3);
}

.theme-grayscale .v-content__wrap,
.theme-grayscale .p-page,
.theme-grayscale .form,
.theme-grayscale .v-content {
    background: #525252 !important;
}

#photoprism.theme-grayscale .theme--light.v-small-dialog__content,
#photoprism.theme-grayscale .theme--light.v-sheet,
#photoprism.theme-grayscale .theme--light.v-card {
    background: #525252;
}

.theme-grayscale .application.theme--light {
    background: #525252;
}

#photoprism.theme-grayscale .theme--light .v-table {
    background: #4E4E4E;
}

#photoprism.theme-grayscale .theme--light.v-table thead th,
#photoprism.theme-grayscale .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-grayscale .theme--light.v-table tbody tr:hover {
    background: #555;
}

#photoprism.theme-grayscale .theme--light.v-chip,
#photoprism.theme-grayscale .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #777;
}

#photoprism.theme-grayscale .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: rgba(250, 250, 255, 0.1);
}

#photoprism.theme-grayscale .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-grayscale .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-grayscale .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-grayscale .theme--light.v-input--is-disabled input,
#photoprism.theme-grayscale .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-grayscale,
#photoprism.theme-grayscale .p-page a,
#photoprism.theme-grayscale .v-datatable a,
#photoprism.theme-grayscale .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-grayscale .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-grayscale .theme--light {
    color: #fff;
}

#photoprism.theme-grayscale .theme--light.v-list {
    background: #555;
}

#photoprism.theme-grayscale a.text-link {
    color: #e3d5c3 !important;
}

#photoprism.theme-grayscale .theme--light.v-select .v-select__selections {
    color: #e3d5c3;
}

#photoprism.theme-grayscale .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-grayscale .accent--text {
    color: #e3d5c3 !important;
}

#photoprism.theme-grayscale .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-grayscale .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-grayscale .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-grayscale .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-grayscale .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-grayscale .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

#photoprism.theme-grayscale .mobile-dial .v-speed-dial__list .v-btn {
    color: white;
    background-color: #685a4a;
}

#photoprism.theme-grayscale .mobile-dial .v-speed-dial__list .v-btn.highlight {
    background-color: #86735f;
}

#photoprism.theme-grayscale .mobile-dial .v-speed-dial__list .v-btn:hover,
#photoprism.theme-grayscale .mobile-dial .v-speed-dial__list .v-btn.highlight:hover {
    background-color: #95806a;
}