/* Lavender Theme */

body.dark-theme.theme-lavender,
.theme-lavender .v-content__wrap,
.theme-lavender .p-page,
.theme-lavender .form,
.theme-lavender .v-content {
    background: #fafafa !important;
}

.theme-lavender .application.theme--light,
#photoprism.theme-lavender .theme--light.v-small-dialog__content,
#photoprism.theme-lavender .theme--light.v-sheet,
#photoprism.theme-lavender .theme--light.v-card {
    background: #fafafa;
}

#photoprism.theme-lavender .theme--light .v-table {
    background: #ffffff;
}

#photoprism.theme-lavender .theme--light.v-table tbody tr:hover {
    background: #f6f7fa;
}

#photoprism.theme-lavender .cards-view .card.is-selected .card-details {
    color: #333;
    background-color: #CCCFE0;
}

#photoprism.theme-lavender .cards-view .card.is-selected,
#photoprism.theme-lavender .cards-view .card.is-selected .card-background {
    background-color: #CCCFE0 !important;
}

#photoprism.theme-lavender .cards-view .card.is-selected .card-details .v-icon {
    color: #333;
}
