/* Snow Theme */

body.theme-snow #p-navigation.theme--dark,
body.theme-snow #p-navigation .theme--dark.v-icon,
body.theme-snow #p-navigation .theme--dark.v-list,
body.theme-snow #p-navigation .theme--dark.v-toolbar,
#photoprism.theme-snow .v-navigation-drawer>.theme--dark.v-list .v-list__tile__sub-title,
body.theme-snow .theme--light.application {
    color: #4C566A;
}

body.theme-snow #p-navigation .primary--text .theme--dark.v-icon,
body.theme-snow #p-navigation .primary--text .theme--dark.v-list {
    color: #4ca0b8;
}

body.theme-snow #p-navigation .navigation-home.theme--dark .nav-logo {
    color: #4C566A;
}

body.theme-snow,
.theme-snow .v-content__wrap,
.theme-snow .p-page,
.theme-snow .form,
.theme-snow .v-content {
    background: #f7f8fa !important;
}

.theme-snow .application.theme--light,
#photoprism.theme-snow .theme--light.v-small-dialog__content,
#photoprism.theme-snow .theme--light.v-sheet,
#photoprism.theme-snow .theme--light.v-card {
    background: #f7f8fa;
}

#photoprism.theme-snow .theme--light .v-table {
    background: #f2f3f7;
}

#photoprism.container.theme-snow {
    background-image: linear-gradient(160deg, #808080 0%, #262626 100%);
}

#photoprism.container.theme-snow div.loading-animation {
    color: #AFB4D4 !important;
    caret-color: #AFB4D4 !important;
}

#photoprism.container.theme-snow div.loading-animation .loading-underlay {
    stroke: rgba(196, 241, 229, 0.3);
}

#photoprism.theme-snow .theme--dark.v-toolbar,
#photoprism.theme-snow .v-list__tile.theme--dark,
#photoprism.theme-snow .theme--dark.v-toolbar .v-icon,
#photoprism.theme-snow .theme--light.v-table thead th,
#photoprism.theme-snow .theme--light.v-table tbody td {
    color: #333333;
}

#photoprism.theme-snow .theme--light.v-table tbody tr:hover {
    background: #eceff4;
}

#photoprism.theme-snow .theme--light.v-chip,
#photoprism.theme-snow .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #c5dee5;
}

#photoprism.theme-snow .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #eceff4;
}

#photoprism.theme-snow .map-control .theme--light.v-input:not(.v-input--is-disabled) i,
#photoprism.theme-snow .map-control .theme--light.v-input:not(.v-input--is-disabled) input {
    color: #333333;
}

#photoprism.theme-snow .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-snow .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-snow .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-snow .theme--light.v-input--is-disabled input,
#photoprism.theme-snow .theme--light.v-input--is-disabled textarea {
    color: #4C566A;
}

#photoprism.theme-snow,
#photoprism.theme-snow .p-page a,
#photoprism.theme-snow .v-datatable a,
#photoprism.theme-snow .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-snow .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-snow .theme--light {
    color: #333333;
}

#photoprism.theme-snow .theme--light.v-list {
    background: #f7f8fa;
}

#photoprism.theme-snow a.text-link {
    color: #326f80 !important;
}

#photoprism.theme-snow .theme--light.v-select .v-select__selections {
    color: #4C566A;
}

#photoprism.theme-snow .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-snow .accent--text {
    color: #326f80 !important;
}

#photoprism.theme-snow .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-snow .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #333333;
}

#photoprism.theme-snow .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-snow .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-snow .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-snow .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

#photoprism.theme-snow .cards-view .card.is-selected .card-details {
    color: #333333;
    background-color: #D8DEE9;
}

#photoprism.theme-snow .cards-view .card.is-selected,
#photoprism.theme-snow .cards-view .card.is-selected .card-background {
    background-color: #D8DEE9 !important;
}

#photoprism.theme-snow .cards-view .card.is-selected .card-details .v-icon {
    color: #333333;
}