/* Vanta Dark Theme */

body.dark-theme.theme-vanta {
    background: #212121 !important;
}

#photoprism.container.theme-vanta {
    background-image: linear-gradient(160deg, #333333 0%, #000000 100%);
}

#photoprism.container.theme-vanta div.loading-animation {
    color: #05dde1 !important;
    caret-color: #05dde1 !important;
}

#photoprism.container.theme-vanta div.loading-animation .loading-underlay {
    stroke: rgba(5, 221, 225, 0.3);
}

.theme-vanta .v-content__wrap,
.theme-vanta .p-page,
.theme-vanta .form,
.theme-vanta .v-content {
    background: #212121 !important;
}

#photoprism.theme-vanta .theme--light.v-small-dialog__content,
#photoprism.theme-vanta .theme--light.v-sheet,
#photoprism.theme-vanta .theme--light.v-card {
    background: #212121;
}

.theme-vanta .application.theme--light {
    background: #212121;
}

#photoprism.theme-vanta .theme--light .v-table {
    background: #262626;
}

#photoprism.theme-vanta .theme--light.v-table thead th,
#photoprism.theme-vanta .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-vanta .theme--light.v-table tbody tr:hover {
    background: #303536;
}

#photoprism.theme-vanta .theme--light.v-chip,
#photoprism.theme-vanta .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #333;
}

#photoprism.theme-vanta .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: rgba(250, 250, 255, 0.1);
}

#photoprism.theme-vanta .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-vanta .theme--light.v-input--selection-controls.v-input--is-disabled .accent--text {
    color: #999 !important;
}

#photoprism.theme-vanta .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-vanta .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-vanta .theme--light.v-input--is-disabled input,
#photoprism.theme-vanta .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-vanta,
#photoprism.theme-vanta .p-page a,
#photoprism.theme-vanta .v-datatable a,
#photoprism.theme-vanta .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-vanta .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-vanta .theme--light {
    color: #fff;
}

#photoprism.theme-vanta .theme--light.v-list {
    background: #262626;
}

#photoprism.theme-vanta a.text-link {
    color: #c8e3e7 !important;
}

#photoprism.theme-vanta .theme--light.v-select .v-select__selections {
    color: #eee;
}

#photoprism.theme-vanta .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-vanta .accent--text {
    color: #05dde1 !important;
}

#photoprism.theme-vanta .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-vanta .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-vanta .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-vanta .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-vanta .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-vanta .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

#photoprism.theme-vanta .mobile-dial .v-speed-dial__list .v-btn {
    color: white;
    background-color: #026264;
}

#photoprism.theme-vanta .mobile-dial .v-speed-dial__list .v-btn.highlight {
    background-color: #037b7d;
}

#photoprism.theme-vanta .mobile-dial .v-speed-dial__list .v-btn:hover,
#photoprism.theme-vanta .mobile-dial .v-speed-dial__list .v-btn.highlight:hover {
    background-color: #04acaf;
}
