/* Yellowstone Dark Theme */

body.dark-theme.theme-yellowstone,
.theme-yellowstone .v-content__wrap,
.theme-yellowstone .p-page,
.theme-yellowstone .form,
.theme-yellowstone .v-content {
    background: #32312f !important;
}

.theme-yellowstone .application.theme--light,
#photoprism.theme-yellowstone .theme--light.v-small-dialog__content,
#photoprism.theme-yellowstone .theme--light.v-sheet,
#photoprism.theme-yellowstone .theme--light.v-card {
    background: #32312f;
}

#photoprism.theme-yellowstone .theme--light .v-table {
    background: #373532;
}

#photoprism.container.theme-yellowstone {
    background-image: linear-gradient(160deg, #808080 0%, #262626 100%);
}

#photoprism.container.theme-yellowstone div.loading-animation {
    color: #ffb700 !important;
    caret-color: #ffb700 !important;
}

#photoprism.container.theme-yellowstone div.loading-animation .loading-underlay {
    stroke: rgba(255, 183, 0, 0.5);
}

#photoprism.theme-yellowstone .theme--light.v-table thead th,
#photoprism.theme-yellowstone .theme--light.v-table tbody td {
    color: #fff;
}

#photoprism.theme-yellowstone .theme--light.v-table tbody tr:hover {
    background: #403d3a;
}

#photoprism.theme-yellowstone .theme--light.v-chip,
#photoprism.theme-yellowstone .v-card__actions .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: #2a2928;
}

#photoprism.theme-yellowstone .theme--light.v-text-field--solo>.v-input__control>.v-input__slot {
    background: rgba(250, 250, 255, 0.1);
}

#photoprism.theme-yellowstone .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-yellowstone .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon,
#photoprism.theme-yellowstone .theme--light.v-input--is-disabled .v-label,
#photoprism.theme-yellowstone .theme--light.v-input--is-disabled input,
#photoprism.theme-yellowstone .theme--light.v-input--is-disabled textarea {
    color: #ccc;
}

#photoprism.theme-yellowstone,
#photoprism.theme-yellowstone .p-page a,
#photoprism.theme-yellowstone .v-datatable a,
#photoprism.theme-yellowstone .theme--light.v-expansion-panel .v-expansion-panel__container,
#photoprism.theme-yellowstone .theme--light.v-tabs__bar .v-tabs__div,
#photoprism.theme-yellowstone .theme--light {
    color: #fff;
}

#photoprism.theme-yellowstone .theme--light.v-list {
    background: #21201f;
}

#photoprism.theme-yellowstone a.text-link {
    color: #ffb700 !important;
}

#photoprism.theme-yellowstone .theme--light.v-select .v-select__selections {
    color: #eee;
}

#photoprism.theme-yellowstone .theme--light.v-list .v-list__tile__sub-title,
#photoprism.theme-yellowstone .accent--text {
    color: #ffb700 !important;
}

#photoprism.theme-yellowstone .theme--light.v-input:not(.v-input--is-disabled) input,
#photoprism.theme-yellowstone .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: #fff;
}

#photoprism.theme-yellowstone .theme--light.v-btn.v-btn--disabled,
#photoprism.theme-yellowstone .theme--light.v-btn.v-btn--disabled .v-btn__loading,
#photoprism.theme-yellowstone .theme--light.v-btn.v-btn--disabled .v-icon {
    color: #999 !important;
}

#photoprism.theme-yellowstone .theme--light.v-list .v-list__tile__mask {
    color: #cccccc;
    background: transparent;
}

#photoprism.theme-yellowstone .mobile-dial .v-speed-dial__list .v-btn {
    color: white;
    background-color: #b38000;
}

#photoprism.theme-yellowstone .mobile-dial .v-speed-dial__list .v-btn.highlight {
    background-color: #cc9200;
}

#photoprism.theme-yellowstone .mobile-dial .v-speed-dial__list .v-btn:hover,
#photoprism.theme-yellowstone .mobile-dial .v-speed-dial__list .v-btn.highlight:hover {
    background-color: #e6a400;
}
