[Unit]
Description=Podman container-webserver.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers
BindsTo=pod-photoprism.service
After=pod-photoprism.service container-mariadb.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
        --cidfile=%t/%n.ctr-id \
        --cgroups=no-conmon \
        --rm \
        --pod-id-file %t/pod-photoprism.pod-id \
        --sdnotify=conmon \
        --replace \
        -d \
        --name webserver \
        --label io.containers.autoupdate=image \
        --device=/dev/dri:/dev/dri \
        -v /home/photoprism/originals/:/photoprism/originals:Z \
        -v /home/photoprism/import/:/photoprism/import:Z \
        -v /home/photoprism/storage/:/photoprism/storage:Z \
        -e PHOTOPRISM_SITE_URL=http://localhost/ \
        -e PHOTOPRISM_DATABASE_DRIVER=mysql \
        -e PHOTOPRISM_DATABASE_SERVER=localhost:3306 \
        -e PHOTOPRISM_DATABASE_NAME=photoprism \
        -e PHOTOPRISM_DATABASE_USER=photoprism \
        -e PHOTOPRISM_DATABASE_PASSWORD=insecure \
	-e PHOTOPRISM_ADMIN_PASSWORD="please-change-me" \
	docker.io/photoprism/photoprism:latest
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
